<%- include('../base/header'); %>

<div id="Cdp" class="cdp" v-cloak>

    <!-- nav导航 -->
    <nav class="head-nav">
        <div class="cdp-logo"></div>
        <ul class="nav-list">
            <li class="nav-item" v-for="item, index of navList" :class="{ active: item.active }" @click="navClick(item, index)">{{ item.name }}</li>
        </ul>
        <div class="login">
            <span class="login-name">{{user.name}}</span>
            <div class="logout tip" v-show="user.login">登出</div>
        </div>
    </nav>

    <div class="card-box">
        <!-- 控制模块 -->
        <div class="control card">
            <div class="ctr-bar-wrapper">
                <ul class="ctr-bar">
                    <li class="ctr-bar-item" v-for="(item, index) of ctrlist" :class="{ active: item.active }" @click="ctrClick(item)">
                        <i class="icon-sketch" v-if="index === 1"></i>
                        <i class="icon-axure" v-if="index === 2"></i>
                        {{item.name}}
                    </li>
                </ul>
            </div>
            <div class="ctr-input-wrapper">
                <label class="input-wrapper program">
                    <span class="input-name">项目</span>
                    <input type="text" id="" placeholder="输入项目名/备注" v-model="search.name" @keyup.enter="searchProject">
                </label>
                <label class="input-wrapper" :class="{ disabled: search.onlyme }" v-if="search.currentNav === 0">
                    <span class="input-name">发布人</span>
                    <input type="text" id="" placeholder="请输入发布人" v-model="search.creator" @keyup.enter="searchProject">
                </label>
                <label class="checkbox-wrapper onlyme" :class="{ checked: search.onlyme }" v-if="search.currentNav === 0">
                    <span class="checkbox-inner"></span>
                    <input type="checkbox" v-model="search.onlyme" @click="searchProject">
                    <span class="checkbox-name">只看我的</span>
                </label>
            </div>
            <div class="ctr-history-wrapper">
                <div class="ctr-history-name">搜索历史：</div>
                <div class="ctr-history-content">
                    <span v-for="item of search.history">{{item}}</span>
                </div>
                <button class="button" @click="clearHistory">清除历史</button>
            </div>
        </div>

        <!-- 文件列表主体 -->
        <div class="content card">
            <div class="content-hint" v-if="search.currentNav === 0">温馨提示：2017年09月14日以前的发布记录请前往旧版页面</div>
            <div class="cdp-table-wrapper">
                <div class="cdp-table">
                    <div class="cdp-table-header" v-if="search.currentNav === 0">
                        <table>
                            <colgroup>
                                <col v-for="item of projects.header" :width="item.width"></col>
                            </colgroup>
                            <thead>
                                <tr>
                                    <th v-for="item of projects.header">
                                        <div class="cdp-table-cell" :class="{ click: (item.filter || item.sort) }">
                                            <span>{{item.title}}</span>
                                            <i class="icon-filter" v-if="item.filter"></i>
                                            <i class="icon-sort" v-if="item.sort"></i>
                                        </div>
                                    </th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="cdp-table-header" v-if="search.currentNav === 1">
                        <table>
                            <colgroup>
                                <col v-for="item of projects.headerMy" :width="item.width"></col>
                            </colgroup>
                            <thead>
                                <tr>
                                    <th v-for="item of projects.headerMy">
                                        <div class="cdp-table-cell" :class="{ click: (item.filter || item.sort) }">
                                            <span>{{item.title}}</span>
                                            <i class="icon-filter" v-if="item.filter"></i>
                                            <i class="icon-sort" v-if="item.sort"></i>
                                        </div>
                                    </th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="cdp-table-body">
                        <table>
                            <colgroup v-if="search.currentNav === 0">
                                <col v-for="item of projects.header" :width="item.width"></col>
                            </colgroup>
                            <colgroup v-if="search.currentNav === 1">
                                <col v-for="item of projects.headerMy" :width="item.width"></col>
                            </colgroup>
                            <tbody>
                                <tr v-for="item of projects.body" @click="projectClick(item)">
                                    <td><div class="cdp-table-cell" :title="item.project_name">{{item.project_name}}<i class="icon-lock" v-if="item.status == 'Failed'"></i></div></td>
                                    <td><div class="cdp-table-cell" :title="item.description">{{item.description}}</div></td>
                                    <td v-if="search.currentNav === 0"><div class="cdp-table-cell" :title="item.org_name">{{item.org_name}}</div></td>
                                    <td><div class="cdp-table-cell" :title="item.project_type">{{item.project_type}}</div></td>
                                    <td><div class="cdp-table-cell" :title="item.update_time">{{item.update_time}}</div></td>
                                    <td v-if="search.currentNav === 0"><div class="cdp-table-cell" :title="item.creator">{{item.creator}}</div></td>
                                    <td v-if="search.currentNav === 1">
                                        <div class="cdp-table-cell cdp-table-ctr">
                                            <span>发布</span>
                                            <span>服务器删除</span>
                                            <span class="cdp-table-ctr-main">···
                                                <span class="local-ctr tip"><span>本地浏览</span><span>本地删除</span></span>
                                            </span>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="local-path" v-if="search.currentNav === 1">
                <label class="input-wrapper">
                    <span class="input-name">本地路径</span>
                    <input type="text" id="" placeholder="选择路径">
                </label>
                <button class="submit">更改</button>
            </div>
        </div>
    </div>

    <footer class="footer">
        <p>有任何意见或建议，请联系<a href="mailto:CDPService@Ctrip.com">CDPService@Ctrip.com</a></p>
    </footer>

</div>

<%- include('../base/footer'); %>