<%- include('../base/header'); %>

<div id="Cdp" class="cdp" v-cloak>

    <!-- nav导航 -->
    <nav class="head-nav">
        <div class="cdp-logo"></div>
        <ul class="nav-list">
            <li class="nav-item" v-for="item of navList" :class="{ active: item.active }" @click="navClick(item)">{{ item.name }}</li>
        </ul>
        <div class="login">
            <span class="login-name">{{user.name}}</span>
            <div class="logout tip" v-show="user.login">登出</div>
        </div>
    </nav>

    <div class="card-box">
        <!-- 控制模块 -->
        <div class="control card">
            <div class="ctr-bar-wrapper">
                <ul class="ctr-bar">
                    <li class="ctr-bar-item" v-for="(item, index) of ctrlist" :class="{ active: item.active }" @click="ctrClick(item)">
                        <i class="icon-sketch" v-if="index === 1"></i>
                        <i class="icon-axure" v-if="index === 2"></i>
                        {{item.name}}
                    </li>
                </ul>
            </div>
            <div class="ctr-input-wrapper">
                <label class="input-wrapper program">
                    <span class="input-name">项目</span>
                    <input type="text" id="" placeholder="输入项目名/备注">
                </label>
                <label class="input-wrapper">
                    <span class="input-name">发布人</span>
                    <input type="text" id="" placeholder="请输入发布人">
                </label>
                <label class="checkbox-wrapper onlyme" :class="{ checked: onlyme.checked }">
                    <span class="checkbox-inner"></span>
                    <input type="checkbox" v-model="onlyme.checked">
                    <span class="checkbox-name">只看我的</span>
                </label>
            </div>
            <div class="ctr-history-wrapper">
                <div class="ctr-history-name">搜索历史：</div>
                <div class="ctr-history-content">
                    <span>云呼叫</span>
                </div>
                <button class="button">清除历史</button>
            </div>
        </div>

        <!-- 文件列表主体 -->
        <div class="content card">
            <div class="content-hint">温馨提示：2017年09月14日以前的发布记录请前往旧版页面</div>
            <div class="cdp-table-wrapper">
                <div class="cdp-table">
                    <div class="cdp-table-header">
                        <table>
                            <colgroup>
                            </colgroup>
                            <thead>
                                <tr>
                                    <th v-for="item of projects.header">
                                        <div class="cdp-table-cell" :class="{ click: (item.filter || item.sort) }">
                                            <span>{{item.title}}</span>
                                            <i class="icon-filter" v-if="item.filter"></i>
                                            <i class="icon-sort" v-if="item.sort"></i>
                                        </div>
                                    </th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="cdp-table-body">
                        <table>
                            <colgroup>
                            </colgroup>
                            <tbody>
                                <tr v-for="item of projects.body">
                                    <td><div class="cdp-table-cell">{{item.project_name}}</div></td>
                                    <td><div class="cdp-table-cell">{{item.description}}</div></td>
                                    <td><div class="cdp-table-cell">{{item.org_name}}</div></td>
                                    <td><div class="cdp-table-cell">{{item.project_type}}</div></td>
                                    <td><div class="cdp-table-cell">{{item.update_time}}</div></td>
                                    <td><div class="cdp-table-cell">{{item.creator}}</div></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="local-path">
                <label class="input-wrapper">
                    <span class="input-name">本地路径</span>
                    <input type="text" id="" placeholder="选择路径">
                </label>
                <button class="submit">更改</button>
            </div>
        </div>
    </div>

    <footer class="footer">
        <p>有任何意见或建议，请联系<a href="mailto:CDPService@Ctrip.com">CDPService@Ctrip.com</a></p>
    </footer>

</div>

<%- include('../base/footer'); %>