
<% if (needVue && isProduction) { %>
    <script src="../../static/common/js/vue.min.js"></script>
<% } else if (needVue && !isProduction) { %>
    <script src="../../static/common/js/vue.js"></script>
<% } %>

<script src="../../static/src/<%= file %>/<%= file %>.js"></script>
</body>
</html>
